<md-dialog class="lg-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <a href="http://exponentialedu.org"><img src="images/exponentialeducation-logo-txt-white-1560x.png" alt="logo" width="300" border=0></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2></h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-dialog-content>
      <div class="md-dialog-content">
        <center>
        <iframe width="853" height="480" src="https://www.youtube.com/embed/5c-P25SVyi4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        <h4>Exponential Education partnered with the New York Academy of Sciences (NYAS)
        <br>and the Bill & Melinda Gates Foundation to provide global high school students the opportunity 
        <br>to work on 10x solutions to climate change using the Exponential Sprint.</h4>
        </center>
      </div>
    </md-dialog-content>
    
    <!--<md-dialog-actions layout="row">-->
    <!--  <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
    <!--    More on Wikipedia-->
    <!--  </md-button>-->
    <!--  <span flex></span>-->
    <!--  <md-button ng-click="answer('not useful')">-->
    <!--   Not Useful-->
    <!--  </md-button>-->
    <!--  <md-button ng-click="answer('useful')" style="margin-right:20px;">-->
    <!--    Useful-->
    <!--  </md-button>-->
    <!--</md-dialog-actions>-->
  </form>
</md-dialog>