<md-dialog class="lg-dialog">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <a href="http://exponentialedu.org"><img src="images/exponentialeducation-logo-txt-white-1550x.png" alt="logo" width="300" border=0></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<h2>Open Source</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons md-light">close</i>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-dialog-content>
      <div class="md-dialog-content">
        
              <img src="images/GabrielDolsten.jpg" width=200>

The Database of Negative Results is a platform for the dissemination of negative scientific data, or data that arises from failed experiments. Historically, these data have rarely been published since there’s little prestige for a scientist in proving that something is not the case. Unfortunately, silence ends up harming the scientific community, as approximately 80% of data gathered are estimated to be negative data. When scientists are unaware of what has failed, they will repeat experiments doomed for failure, or publish false positives that were just extremely lucky. 
There have been several outlets for the publishing of negative results, but they have all been unsuccessful for a myriad of reasons. Firstly, there have been no incentives in place for the scientists, so there has been no motivation to publish. Secondly, the journals have accepted only full-length articles, which suck up too much time to be viable. Thirdly, the platforms have failed to acknowledge the need for this data to be sorted and indexed.
Our website PubNeg | The Database of Negative Results addresses all of these issues. Scientists must publish a result before gaining access to the database, putting in place a clear incentive structure. They write short summaries of their experiments, as opposed to long journals, so that they can get back to the lab as soon as possible. Finally, they can search through the troves of data using our powerful search engine. Negative data have the potential to usher in a new era of smarter, more efficient research, but the platform for sharing them has to reflect the unique nature of the data itself. Our platform has been tailor-made just for negative data, and we hope that this will help ensure success.

Gabriel Dolsten is a college student studying at Yale University. He realized the need for negative data after working at the Brentjens cancer immunotherapy lab over the last few years. Notable scientific achievements include being a delegate and semifinalist at the International Science Youth Forum in Singapore, a week-long science enrichment programme for 100 leading junior scientists around the world. He is also a member of the Junior Academy, a worldwide organization for 250 gifted STEM students. He has several years of experience in web programming, and enjoys biking, reading, and playing tennis. 
      </div>
    </md-dialog-content>
    
    <!--<md-dialog-actions layout="row">-->
    <!--  <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>-->
    <!--    More on Wikipedia-->
    <!--  </md-button>-->
    <!--  <span flex></span>-->
    <!--  <md-button ng-click="answer('not useful')">-->
    <!--   Not Useful-->
    <!--  </md-button>-->
    <!--  <md-button ng-click="answer('useful')" style="margin-right:20px;">-->
    <!--    Useful-->
    <!--  </md-button>-->
    <!--</md-dialog-actions>-->
  </form>
</md-dialog>