<html lang="en">
 <body ng-app="MyApp">
  <head>
    <title>Exponential Education #10xEdu</title>
    
    <!-- Angular Material Dependencies -->
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-aria.min.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-messages.min.js'></script>
    <script src='https://cdn.rawgit.com/angular/bower-material/v0.9.7/angular-material.js'></script>
    <script src='main.js'></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel='stylesheet' href='https://cdn.rawgit.com/angular/bower-material/v0.9.7/angular-material.css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/core/favicon.ico">
  </head>
  
  <div ng-controller="AppCtrl">
    
    <div  layout="column" layout-sm="" style="height:500px;" class="sidenavdemoBasicUsage">
      <md-toolbar layout="row" class="md-primary">
        <!--<md-button ng-click="toggleLeft()" class="md-white" ><i class="material-icons">menu</i></md-button>-->
        <div class="logo"><a href="http://exponentialedu.org"><img src="images/exponentialeducation-logo-txt-white-1550x.png" alt="logo" width="300" border=0></a>
         </div>
      </md-toolbar>
      
      <div class="top-menu">
        <table>
          <tr>
            <td><a href="#" ng-click="showLearnMore($event)">Learn More</a></td>
            <td><a href="#seeit">See It</a></td>
            <td><ul class="top-social">
              <li><a href="https://twitter.com/teamexponent" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/teamexponent" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul></td>
          </tr>
        </table>
      <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://exponentialedu.slack.com/" target="new">Community <img src="images/Slack_Mark_White_Web.png" width="25"></a>-->
       </div>

      <!--<section layout="row" flex="">-->
        <!--<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-closed="$mdMedia('gt-md')">-->
        <!--  <md-toolbar class="md-theme-indigo" ng-controller="LeftCtrl">-->
        <!--    <h1 class="md-toolbar-tools"><md-button ng-click="close()"><i class="material-icons">arrow_back</i></md-button></h1>-->
        <!--  </md-toolbar>-->
        <!--  <md-content layout-padding="" >-->
        <!--    <p>-->
              <!--<a href="#events">Events</a><br>-->
              <!--About-->
        <!--    </p>-->
        <!--  </md-content>-->
        <!--</md-sidenav>-->
      <!--</section>-->

      <div class="main" layout="column" layout-fill="" layout-align="top center">
        <section class="introtext"><!--Main Background image--></section>
      </div>
    </div>

    <div layout="column" style="padding-bottom: 15px;">
      <md-content layout-padding>
        <table class="whatwedoTable">
          <tr>
            <td class="whatwedoTableTitle">What is Exponential Education?</td>
            <td class="whatwedoTableTitle">What is a Moonshot?</td>
          </tr><tr>
            <td>Exponential Education (10xEducation.org) is an open source education framework and curriculum for learning, solving and building through 10x Moonshot thinking and projects. The curriculum is centered around Moonshot Sprints, which encourages children to realize and build 10x solutions to some of humanity's most difficult challenges.
             </td>
            <td>Moonshot is not just another way of saying big idea. It's a project that addresses a huge problem, proposes a high-value and impactful solution, and has a high-level of technical complexity in implementation. It takes a particular type of fresh, audacious thinking to even conceive of a moonshot, and it's something kids are naturally attuned to.
             </td>
          </tr>
        </table>
      </md-content>
    </div>

    <div layout="column"  class="pickclasspackageDiv">
      <div class="pickclasspackageTitle">PICK A CLASS PACKAGE</div>
        <table class="pickclasspackageTable">
          <tr>
            <td><a href="#" ng-click="showPack1($event)">1<br><div style="font-size:50px;">Day</div></a>
             </td>
            <td><a href="#" ng-click="showPack2($event)">1<br><div style="font-size:50px;">Week</div></a>
             </td>
            <td><a href="#" ng-click="showPack3($event)">1<br><div style="font-size:50px;">Year</div></a>
             </td>
          </tr>
        </table>
      <div><br><br></div>
    </div>
  
    <div layout="column" style="padding-bottom: 15px; padding-top: 15px;">
      <table class="moreinfo">
        <tr>
          <td><h1><a href="https://medium.com/@katykasmai/kids-can-build-our-most-impactful-10x-moonshots-5af1480ee7f8#.pg4no1ujc" target=new>"Kids can build our most impactful <br><b>10x Moonshots</b>"</a></h1>
          </td>
          <td><iframe src="https://docs.google.com/presentation/d/1tHTLbcv_M5Vq1QtP289cLGOD5Z5vNtzrqpLt4T-tXzY/embed?start=false&loop=true&delayms=3000" frameborder="0" width="480" height="299" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
           </td>
        </tr>
      </table>
    </div>

    <div>
      <md-toolbar class="md-primary" style="padding-top: 25px;">
        <section class="subscribe">
          <form role="form" action="http://10xEducation.us3.list-manage.com/subscribe/post?u=99aaf52f968afebd623b2dfc9&amp;id=ce51be528e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <table><tr>
                <td class="subscribeTD1">
                  <md-content md-theme="docs-dark">
                    <md-input-container>
                      <input type="email" class="form-control" placeholder="enter email for updates" required value="" name="EMAIL" >
                    </md-input-container>
                  </md-content>
                </td>
                <td><md-button class="md-fab" type="submit" id="mc-subscribe" value="Subscribe" name="subscribe"><i class="material-icons">send</i></i></md-button>
                 </td>
            </tr></table>
          </form>
        </section>
      </md-toolbar>
    </div>

    <div layout="column" class="footer">
      <md-toolbar class="md-accent">
          <section style="padding-bottom: 15px; padding-top: 25px;">
            <ul class="social">
              <li><a href="https://twitter.com/teamexponent" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/teamexponent" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </section>
          <section>
            <h5 class="md-flex">Copyright 2016 Team Exponent, Inc. - All Rights Reserved</h5>
          </section>
      </md-toolbar>
    </div>
  </div>


  <!-- Google analytics here -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47918602-1']);
    _gaq.push(['_setDomainName', 'nyctech.co']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <!-- Start of StatCounter Code -->
  <script type="text/javascript">
    var sc_project=9599859; 
    var sc_invisible=1; 
    var sc_security="506d461b"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
  </script>
  <noscript><div class="statcounter"><a title="web analytics" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/9599859/0/506d461b/1/" alt="web analytics"></a></div></noscript>
  <!-- End of StatCounter Code-->

 </body>
</html>


      <!--<section class="ourteam" ng-repeat="item in organizer">-->
      <!--  <md-card style="height:600px">-->
      <!--    <md-card-content>-->
      <!--      <img ng-src="{{item.face}}" class="face" alt="{{item.who}}" height="150">-->
      <!--      <h3>{{item.who}}</h3>-->
      <!--      <h3>{{item.title}}</h3>-->
      <!--      <p>{{item.details}}</p>-->
      <!--      <p>{{item.details2}}</p>-->
      <!--      <a ng-href={{item.linkedinaddress}} target="new">LinkedIn</a> | -->
      <!--      <a ng-href={{item.twitteraddress}} target="new">Twitter</a> | -->
      <!--      <a ng-href={{item.instaaddress}} target="new">Instagram</a> -->
      <!--    </md-card-content>-->
      <!--  </md-card>-->
      <!--</section>-->
